body {
  background-color: #fef3e6;
  color: #222;
  font-family: "Segoe UI", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  color: #2f2f2f;
  font-size: 3rem;
}

hr {
  border-top: 2px dotted #222;
}
